<!-- <div class="container">
  <h2>Choose A Body Part You Would Like To Workout</h2>                   
  <div class="dropdown dropdown-menu-left">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Body Part
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chest</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Back</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Legs</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Triceps</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Biceps</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Shoulders</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Abs</a></li>
    </ul>
  </div>
<!-   ng-model to tie ex workouts.legs and *when dropdown changes call function -->
<!-- </div>
<div class="dropdown dropdown-menu-right">
<h2>Choose A Goal</h2> 
  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Workout Goal
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">Gain Muscle</a></li>
    <li role="presentation"><a role="menuitem" href="#">Cut Weight</a></li>
  </ul>
</div>

</body>
</html>
 -->
<div class="container">
    <form name="workout">
        <label for="workout"> Select A Body Part: </label>
        <br>
        <select ng-change="chosenOption()" name="workout" id="BodyParts" ng-model="bodypart">
            <!--       <option ng-repeat="workoutItem in workouts" value="workoutItem.Bodypart"></option>
 -->
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Legs">Legs</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Back">Back</option>
            <option value="Abs">Abs</option>
        </select>
        <br>
        <div ng-show="selectChanged" ng-repeat="workoutItem in workouts | filter:bodypart"><div class="workoutCard"><h4 class="card-text"><h4> {{workoutItem.BodyPart}}</h4>
            <p class="card-text">Exercise Name: {{workoutItem.description}}</p>
            <img class="card-img-top" ng-src="{{workoutItem.url}}" alt="Card image cap">
            <p class="card-text">Number Of Sets: {{workoutItem.sets}}</p>
            <p class="card-text">Number Of Reps To Cut Weight: {{workoutItem.repsL}}</p>
            <p class="card-text">Number Of Reps To Gain Muscle: {{workoutItem.repsG}}</p>
            <p class="card-text">Rest Time Between Sets: {{workoutItem.Rest}}</p>
            <input type="button" class="btn btn-default"  ng-click="saveWorkout()" value="Add To My Workouts">
            </div></div><br>