<section class="userLogin" style="color:white;">
    <h1>Login or Register</h1>
    <div>
        Email:
        <input type="email" ng-model="account.email">
    </div>
    <div>
        Password:
        <input type="password" ng-model="account.password">
    </div>
    <div>
        <button class="btn btn-info" ng-click="login()" style="color:#800020; background-color: slategray;">Log in</button>
        <button class="btn btn-default" ng-click="register()" style="color:#800020; background-color: slategray;">Register</button>
    </div>
</section>