<nav class="navbar navbar-default" ng-controller="NavController" style="background-color: slategray;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="tag" class="navbar-brand" href="#/">Swole-On-The-Go</a>
        </div>
    </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="isLoggedIn"><a ng-href="#!/capapp/view" style="color:#800020;">Home</a></li>
            <li ng-show="isLoggedIn"><a ng-href="#!/capapp/MyWorkouts" style="color:#800020;">My Workouts</a></li>
            <li><a ng-show="isLoggedIn" ng-click="logout()" style="color:#800020;">Logout</a></li>
    </div>
    </div>
</nav>